
body{
	color: #000;
	font-size: 12px;
	line-height: 15px;
	font-family: helvetica, arial, sans-serif;
	
}

#container {
	width: 100%;
	margin: 100px;
	height: 530px;
	color: black;
}

.clearfix: after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.top .logo {
	float: left;
	margin-left: 10px;
	font-size: 24px;
	top: 20px;
	position: absolute;
	box-sizing: border-box;

}

header {
background-image: url(./images.header_bg.jpg) no-repeat center top rgb(134,141,157);
background-size: cover;
height: 500px;
width: 100px;
position:  : absolute;
color: white;
box-sizing: border-box;
color: black;
}


.picture {
	margin: 10px 10px 10px;
	padding: 10px;
	border: black;
}

.discription {
	float: right;
	position: relative;
	padding: 10px;

}

.list {
	padding: 50px;
	height: 20px;
	width: auto;

	
}

.qoutes {
	height: 20px; 
	padding: left;


}
.statement{
	padding: 20px;

}